.update {
    background-color:#1E397E;
    color:whitesmoke;
    border-radius:2rem;
}



.center {
display:flex;
justify-content:center;
}

.remove {
    margin-top:0.5rem;

}

.unmatch {
    outline: none;
}