.animalCard {
    margin-bottom:2rem;
    padding-bottom:1rem;
}

.rounded {
    border-radius:1rem;
}

.unmatch {
    background-color:red;
    border-radius:2rem;
    color:whitesmoke;
    font-weight:bold;
}

.contact {
    background-color: #2A5683;
    border-radius:2rem;
    color:whitesmoke;
    font-weight:bold;
}

button:hover{
    background-color: grey;
}