.animalCard {
  width: 300px;
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.animalCard>img {
  width: 280px;
}

.site-layout-sub-header-background {
  background: rgb(8, 40, 142);
}

.site-layout-background {
  background-color: #2b1331;
  background-image: linear-gradient(315deg, #0a0576 0%, #2a5683 74%);
  border-radius: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupCardOptions {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.ant-layout {
    background-color: wheat;
    padding-bottom: 2em;
}

.card {
  padding: 2em;
  margin: 3em;
  background: whitesmoke;
  border-radius: 15px;
}

.headerLink {
  border: 1px solid blue;
  margin: 1em;
  padding: 10px;
  border-radius: 10px;
  background: rgb(11, 53, 131);
  color: whitesmoke;
  
}