
/* .animalUpdateModalContainer{
    /* position: absolute !important;
    width: 90% !important;
    height: 100% !important;
    max-height: 500px; */
    /* overflow: scroll; */

    /* display: block;
    position: flex !important;
    width: 87% !important;
    height: 400px !important; */
/* } */