.logInForm {
    width: 300px;
    border: 1px solid lightgray;
    background: whitesmoke;
    border-radius: 15px;
    padding: 2em;
  }


.loginBtns {
  display: flex;
  justify-content: space-between;

}

.signUpBtn {
  margin-top: 1em;
}