@import '~antd/dist/antd.css';

.app {
  text-align: center;
  height: 100vh;

}


/* CSS FOR THE BODY/SIDER/HEADER */

/* Header */

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(20, 9, 174, 0.2);
  margin: 16px;
}
/* 
.site-layout-sub-header-background {
  background: rgb(8, 40, 142);
}

.site-layout-background {
  background: white;
  border-radius: 25px;
  height: 100%;
} */



.ant-layout {
  height: 100vh
}

.pupsterTitle {
  font-size: 3em;
  color: whitesmoke;
  
}