.site-layout-sub-header-background {
    background: rgb(8, 40, 142);
    justify-content: center;
  }

  .headerLink {
    display:flex;
    justify-content:space-around;
  }

  .logOutBtn {

    border-radius: 10px;
    background: rgb(11, 53, 131);
    color: rgb(213, 213, 213);
}

Link:hover {
    background-color: grey;
}