.site-layout-sub-header-background {
  background: rgb(8, 40, 142);
  justify-content: center;
}


.signUpBtn3 {
  margin-top: 1em;
  color: whitesmoke;
}

.signUp3 {
  border-radius:1em;
  border-color: whitesmoke !important;
  background-color:#1E397E;
  color:whitesmoke;
  padding: 10px;
}